body {
  background-image: url('../assets/SearchBackground.jpg');
  background-size: cover;
  background-position: center;
}

#root {
  background-color: #0007;
}

.FilterDropdown {
  justify-content: end;
}

.dropdown .btn-outline-light {
  width: auto;
}

.dropdown .dropdown-menu {
  width: 100%;
  min-width: unset;
  text-align: center;
}

.dropdown .dropdown-item.active, .dropdown .dropdown-item:active {
  background-color: #e9ecef;
  color: #212529;
}

.card-col {
  overflow-y: scroll;
}

.card-col .card:not(:last-of-type) {
  margin-bottom: 1rem;
}
