body {
  background-image: url('../assets/HomeBackground.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#root {
  background-color: #0006;
}

.main-heading {
  font-size: 4rem;
}

.city-buttons .btn-outline-light {
  width: 200px;
  margin: 10px 30px;
}

.city-buttons .btn-outline-light:not(:hover) {
  background-color: rgba(186, 195, 200, 0.625);
}