@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');

body, html {
  font-family: 'Manrope', sans-serif;
}

html, body, #root {
  height: 100%;
}

#root {
  padding-top: 3rem;
}

.logo {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 200px;
}