@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');

body, html {
  font-family: 'Manrope', sans-serif;
}

html, body, #root {
  height: 100%;
}

#root {
  padding-top: 3rem;
  overflow: hidden;
}

.logo {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 200px;
}

.btn-outline-light:not(:hover) {
  background-color: rgba(186, 195, 200, 0.625);
}

.transparent-background {
  background-color: rgba(186, 195, 200, 0.625);
}